#page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.title {
    font-size: 5em;
    text-align: center;
    font-family: "Playfair", serif;
    margin-bottom: 0.3em;
}

.section {
    margin-bottom: 20px;
    line-height: 2em;
}

.code {
    font-family: "Roboto Mono", monospace;
    color: #1178d4;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

#brace-editor.ace_editor {
    font: 14px/normal "Roboto Mono", monospace;
}

.ace_cursor {
    /*display: none;*/
}
